<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <title>文档列表 - 光年(Light Year Admin)后台管理系统模板</title>
  <link rel="icon" href="favicon.ico" type="image/ico">
  <meta name="keywords" content="LightYear,光年,后台模板,后台管理系统,光年HTML模板">
  <meta name="description" content="LightYear是一个基于Bootstrap v3.3.7的后台管理系统的HTML模板。">
  <meta name="author" content="yinqi">
  <link href="@Url.ContentAdmin("css/bootstrap.min.css")" rel="stylesheet">
  <link href="@Url.ContentAdmin("css/materialdesignicons.min.css")" rel="stylesheet">
  <link href="@Url.ContentAdmin("css/style.min.css")" rel="stylesheet">
  <style>
      .imgbox{
          position: relative;
          overflow: hidden;
          padding-bottom: 75%;/*重要属性*/
      }
      .imgbox img{
          width: 100%;
          position: absolute;
      }
      .themename{
        position: absolute;
        bottom: 0; 
        left: 0;
        background-color: #0b2e13;
        color: #FFFFFF;
        width: 100%;
        text-align: center
      }
      .themebroder {
        padding-bottom: 16px;
      }
  </style>
</head>
<body>
<div class="container-fluid p-t-15">
  <div class="card">
    <div class="card-body">
      <ul class="list-inline clearfix">
            @foreach (var theme in ViewBag.themes)
            {
              <li class="col-xs-12 col-sm-5 col-md-3 themebroder">
                <div class="imgbox">
                  <img alt="@theme.ThemeName" src="/theme/@theme.FolderName/@theme.ScreenShot"/>
                  <span class="themename">@theme.ThemeName</span>
                </div>
                <div style="width: 100%;margin-top: 10px">
                  <div class="col-xs-8 col-sm-8 col-md-8">
                                    <select class="form-control">
                                      <option value="1">电脑版主题</option>
                                    </select>
                                  </div>
                                  <div class="col-xs-4 col-sm-4 col-md-4">
                                    <button class="btn btn-primary">启用</button>
                                  </div>
                </div>
                
              </li>
            }
          </ul>
    </div>
  </div>
</div>
</body>
</html>